/*border: 2px solid #171a1b;
background-color: #171a1b;
border-top: none;*/
/*color : white;*/
/*background-color: transparent;*/
background-image: url('%path%/msg/headerg.png');
/*background-image : url(res/Images/tray_pics/header.png);*/
